body {
    font-size: small;
    font-family: roboto;
    display: flex;
    flex-direction: column;
    font-family: 'Dosis', sans-serif;
}

h1 {
    font-family: 'Poppins', sans-serif;
}

h2 {
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    line-height: 72px;

}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: -0.015em;
    line-height: 72px;
}

.content {
    width: 100%;
    height: 100%;
}

.content_home {
    width: 80%;
    height: 100%;
    margin-top: 125px;
    margin-left: 10%;
    margin-right: 10%;
    padding: 20px 20px 20px 20px;
    background-color: #ffffff;
}

table {
    margin-left: 50%;
    transform: translate(-50%);
}

td {
    border: solid 1px;
    width: 100px;
    text-align: center;
}



p {
    font-family: Dosis, sans-serif;
}

a {
    text-decoration: none;
}

/* global colors

Dark blue #1b1f3b
lighter, but still dark blue #3b4482
light blue #6978e5

*/
nav {
    height: 100px;
    width: 98%;
    display: inline;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    position: fixed;
    top: 1;
    left: 1%;
    z-index: 100;
    background: #FFFFFF;
    mix-blend-mode: normal;
    box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

nav img {
    width: 100px;
    height: 50px;
    margin-left: 20px;
}

.login_status {
    display: inline;
    float: right;
    margin-top: 20px;
    margin-right: 0px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    width: fit-content;
    background-color: #6978e5;
    color: #FFFFFF;
    border-radius: 5px;
}

li {
    list-style-type: none;
    display: inline;
    padding: 0 20px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

li a {
    color: black;
}


/* start hero */
.hero {
    width: 100%;
    height: 100%;
    background-image: url("../design/hero_bg.png");
    padding-top: 120px;
    background-color: #1b1f3b;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-align: center;
    color: #fff;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.container_hero1 {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: #fff;
    padding: 0 20px;
    box-sizing: border-box;
}

.container_hero1 h1 {
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 48px;
    line-height: 72px;
}

.container_hero1 span {
    text-transform: uppercase;
}


.hero_img {
    width: 50%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: #fff;
    padding: 0 20px;
    box-sizing: border-box;
}

.hero_img img {
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: #fff;
    padding: 0 20px;
    margin-top: 10%;
    margin-bottom: 10%;
    box-sizing: border-box;
}

.hero a {
    text-decoration: none;
    color: #fff;
    font-size: 36px;
    font-family: 'quicksand', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
    text-transform: uppercase;
    background-color: #6978e5;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* end hero */

/* start main */
.main {
    width: 100%;
    height: 100%;
    margin-top: 10px;
    background-color: #ffffff;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: row;
    text-align: start;
    color: #1b1f3b;
    padding: 0 20px;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.containter_main1 {
    width: 70%;
    height: 100%;
    margin-top: 10px;
    background-color: #ffffff;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    text-align: start;
    color: #1b1f3b;
    padding: 0 20px;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.container_main2 {
    width: 30%;
    height: 100%;
    margin-top: 10px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: #1b1f3b;
    padding: 0 20px;
    box-sizing: border-box;
}

.main h1 {
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 48px;
    line-height: 72px;
}

.main span {
    text-transform: uppercase;
    font-weight: 900;
}

.main ul {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    text-align: start;
    color: #1b1f3b;
    padding: 0 20px;
    box-sizing: border-box;
}

.main li {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
}

.recipe_container {
    width: 100%;
    height: 100%;
    margin-top: 10px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: #1b1f3b;
    padding: 0 20px;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}


.recept {
    background-color: #ffffff;
    width: 300px;
}

.recept a {
    text-decoration: none;
    color: #1b1f3b;
}

.recept img {
    width: 100%;
}

.recept p {
    padding: 10px;
    min-height: 50px;
}

/* .see_all{

} */

.see_all ul {
    display: inline;
    list-style-type: none;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    text-align: center;
    align-items: center;
    flex-direction: row;
    color: #1b1f3b;
}

.see_all li {
    display: inline;
    list-style-type: none;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    text-align: center;
    align-items: center;
    flex-direction: row;
    color: #1b1f3b;
}

.arrow {
    clip-path: polygon(50% 10%, 62% 1%, 100% 50%, 61% 99%, 50% 90%, 77% 57%, 0 57%, 0 43%, 77% 43%);
    width: 1rem;
    height: .8rem;
    background-color: #6978e5;
    display: inline-block;
}

/* end index */


.containter_login_register {
    width: 400px;
    margin: 0 auto;
    margin-top: 150px;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    border-radius: 5px;
}

.containter_login_register form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.containter_login_register label {
    font-weight: bold;
    margin-bottom: 5px;

}

.containter_login_register input[type=text],
input[type=password] {
    padding: 10px;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 5px;
}

.containter_login_register button {
    padding: 10px;
    background-color: #36CFFF;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.containter_login_register a {
    color: #36CFFF;
    text-decoration: none;
    font-size: 12px;
}

.containter_login_register label,
input,
button {
    margin-bottom: 10px;
}

.dashboard {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.dashboard table {
    border-collapse: collapse;
    width: 100%;
}

.dashboard td {
    border: 1px solid #ccc;
    padding: 10px;
}

.dashboard tr:nth-child(even) {
    background-color: #f2f2f2;
}

.dashboard {
    color: blue;
    text-decoration: none;
}